@font-face {
  font-family: main;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: main-medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: main-bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
* {
  font-family: main;
  transform: all 0.3s;
}
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #f6f8fe !important;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #5a58c3;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4d4bb3;
}
.all-canter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fwb {
  font-family: main-bold
}
.side {
  height: 763px;
  position: relative;
  z-index: 1;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(207, 207, 207);
}
.side .logo_admin {
  width: 75% !important;
}
.side .links {
  width: 215px !important;
  list-style: none;
  padding-left: 0 !important;
}
.side .links .link {
  padding-bottom: 32px !important;
}
.side .link {
  padding-left: 20px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: grayscale(#5a58c3)
}
.Modal {
  position: fixed !important;
  z-index: 9999;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  background: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(5px) !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.Modal-content {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 13px rgba(140, 140, 140, 0.44);
}
.link a {
  color: #616161;
  text-decoration: none;
}
.link a:hover {
  color: #616161;
}
.link i {
  text-align: left;
  width: 40px;
  font-size: 20px;
  color: #616161;
}
.link a.router-link-exact-active {
  color: #5a58c3;
}
.link a.router-link-exact-active:hover {
  color: #5a58c3;
}
.link a.router-link-exact-active i {
  color: #5a58c3;
}
.side .button_malade .add_patient {
  padding-top: 10px;
  height: 45px;
  background-color: #5a58c3;
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  width: 68%;
}
.button_malade .add_patient.router-link-exact-active {
  background-color: white !important;
  padding-top: 8px;
  color: #5a58c3 !important;
  width: calc(68%-3px);
  border: 3px solid #5a58c3;
}
.bienvenue {
  font-family: main-medium !important;
  color: #5a58c3;
}
.bienvenue h5 {
  font-family: main-bold;
  line-height: 11px;
  font-size: 16px;
}
.bienvenue p {
  font-family: main-medium;
  font-size: 13px;
  line-height: 7px;
}

.button_malade .add_patient:hover {
  color: white;
}
.charts div {
  height: 300px !important;
}
.cards .group {
  padding: 0;
  width: 48%;
}
.cards .card {
  box-shadow: 0px 0px 13px 3px rgba(140, 140, 140, 0.12);
  border: none;
  height: 130px;
  width: 46% !important;
  background-color: white;
  border-radius: 16px;
}
.cards .card .text h3 {
  font-size: 19px;
  font-family: main-bold;
}
.cards .card .text p {
  line-height: 0;
  font-size: 13px;
  font-weight: bold;
}
.cards .card img {
  width: 47px;
}
.charts .chart {
  background-color: white;
  padding: 0;
  border-radius: 12px;
  height: 350px !important;
  box-shadow: 0px 0px 13px 3px rgba(140, 140, 140, 0.12);
}
.charts .chart .text_zone {
  box-shadow: 0px 0px 13px 3px rgba(140, 140, 140, 0.12);
  position: relative;
  vertical-align: middle;
  margin: 0 !important;
  height: 60px !important;
  background-color: white;
  border-radius: 12px;
}
.charts .chart .text_zone p {
  font-family: main-bold;
  font-size: 14px;
  color: #5a58c3;
}
.charts .chart .chart_zone1 {
  height: 300px !important;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.charts .chart .chart_zone2 {
  height: 300px !important;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.foot {
  margin-top: 10px !important;
}
.foot .foot {
  color: rgba(0, 0, 0, 0.63);
  font-size: 14px;
  font-family: main-bold;
}
.menu {
  display: none;
}
/* default */
.bgpurple {
  background-color: #5a58c3 !important;
}
.clpurple {
  color: #5a58c3 !important;
}
.bgblue {
  background-color: #73bee0 !important;
}
.clblue {
  color: #73bee0 !important;
}
.bgred {
  background-color: #ec3737 !important;
}
.clred {
  color: #ec3737 !important;
}
@media all and (max-width: 1420px) {
  .side.open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }
  .side .logo_admin {
    width: 90% !important;
  }
  .side .button_malade .add_patient .add {
    display: none;
  }
  .side .button_malade .add_patient .plus {
    font-size: 17px;
  }
  .side .button_malade .add_patient {
    display: flex;
    justify-content: center;
    width: 25%;
  }
  .menu-button {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-button-burger {
    width: 40px;
    height: 5px;
    background: #5a58c3;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
  }
  .menu-button-burger::before,
  .menu-button-burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background: #5a58c3;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
  }
  .menu-button-burger::before {
    transform: translateY(-12px);
  }
  .menu-button-burger::after {
    transform: translateY(12px);
  }
  .menu-button.open .menu-button-burger {
    transform: translateX(-50px);
    background: transparent;
  }
  .menu-button.open .menu-button-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-button.open .menu-button-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .menu {
    display: block;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    position: absolute;
    top: 74px;
    right: -390px;
    height: 900px;
    background-color: white;
    box-shadow: 1px 1px 15px rgb(207, 207, 207);
    transition: all 0.5s ease-in-out;
  }
  .menu.open {
    right: 0;
  }
  .menu .logo_admin {
    width: 60% !important;
  }
  .menu .links {
    width: 215px !important;
    list-style: none;
    padding-left: 0 !important;
  }
  .menu .links .link {
    padding-bottom: 32px !important;
  }
  .menu .link {
    padding-left: 20px;
  }
  .menu .link.active a {
    color: #5a58c3;
  }
  .menu .link.active a:hover {
    color: #5a58c3;
  }
  .menu .link.active i {
    color: #5a58c3;
  }
  .menu .button_malade .add_patient {
    padding-top: 10px;
    height: 45px;
    background-color: #5a58c3;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    width: 50%;
  }
  .cards {
    height: 340px !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .cards .group {
    width: 100%;
  }
  .cards .card {
    height: 145px !important;
    width: 27% !important;
  }
}
@media all and (max-width: 1200px) {
  .side {
    display: none;
  }
}
@media all and (max-width: 964px) {
  .cards {
    height: 725px !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .cards .group {
    width: 100%;
    height: 340px;
    display: flex !important;
    flex-direction: column;
  }
  .cards .card {
    height: 150px !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }
  .cards .card .text {
    padding-top: 10px;
  }
  .cards .card .text h3 {
    font-size: 19px;
    font-family: main-bold;
  }
  .cards .card .text p {
    line-height: 0;
    font-size: 15px;
    font-weight: bold;
  }
  .cards .card img {
    width: 66px;
  }
  .charts .chart.col_7 {
    width: 100% !important;
  }
  .menu {
    height: 1280px;
  }
  .bienvenue p {
    line-height: 14px;
  }
}
@media all and (max-width: 768px) {
  .charts .chart .text_zone p {
    font-size: 16px;
  }
  .menu {
    height: 1625px;
  }
  .charts .chart .chart_zone1 {
    height: 60% !important;
  }
}
